<template name="index">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='navicon'}}
      {{/if}}
    </button>
  {{/contentFor}}
  
  {{#contentFor "headerTitle"}}
    <h1 class="title">Vos raccourcis</h1>
  {{/contentFor}}
  
  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear" data-ion-popover="_myPopover">
      {{#if isAndroid}}
        {{> ionIcon icon='android-more-vertical'}}
      {{else}}
        {{> ionIcon icon='more'}}
      {{/if}}
    </button>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      Coucou
    {{/ionContent}}
  {{/ionView}}
</template>
